@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quotes For You</h1>
    <p>The place where you can find the best quotes to encourage yourself.</p>
</div>
